.nav-bar-title {
    line-height: 25px !important;
}
.nav-bar-title .logo {
    width: 25px;
    height: 25px !important;
    margin: 0 !important;
}

.nav-bar {
    z-index: 2000 !important;
}

.code-search-btn {
    font-style: normal !important;
}

.slider {
    height: 35px !important;
}
.silder-area {
    font-size: 12px !important;
}

